{{ partial "header.html" . }}

<section class="blog-post">
    <h1>{{ .Title }}</h1>
    <div class="blog-post-subheader">
        {{ index $.Site.Data.kuut (printf "%d" .Date.Month) }}n  {{ .Date.Day }}, {{ .Date.Year }}
    </div>
    <div class="blog-post-content">
        {{ .Content }}
    </div>
</section>

{{ partial "footer.html" . }}
