body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin: auto;
    max-width: 50em;
}

img {
    max-width: 46em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
}

code {
    display: block;
    padding: 10px 15px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    background-color: #fafafa;
    margin-bottom: 25px;
}

#date {
    width: 155px;
}

#page-title {
    text-align: center;
}

#page-title h1 a, .post a {
    color: black;
}

a {
    text-decoration: none;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    display: inline-block;
}

#posts {
    padding-left: 2em;
}

.post {
    padding-left: 1em;
}

.blog-post {
    padding-left: 1em;
}

