{{ partial "header.html" . }}

<section id=content>
    <ul class=posts_listing>
      {{ range .Data.Pages.ByPublishDate.Reverse }}
        <div id="posts">
          <div id=date class="date-time-title">
              <time>{{ index $.Site.Data.kuut (printf "%d" .Date.Month) }}n  {{ .Date.Day }}, {{ .Date.Year }}</time>
          </div>
          <div class="date-time-title post">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        </div>
      {{ end }}
    </ul>
  </section>

{{ partial "footer.html" . }}
